outputs/
**/__pycache__/
*.egg-info/
wandb
.env
*.pt
*ignore.md
eureka/auto_preference_data/
eureka/auto_preference_data_open_inward
eureka/auto_preference_data_open_outward
eureka/experiments/
eureka/door_inward_rollout_logs/
eureka/door_outward_rollout_logs/
eureka/door_inward_videos/
eureka/door_outward_videos/
eureka/door_inward_videos_cliped/
eureka/auto_preference_data.zip
eureka/auto_scalar_data_open_inward/
eureka/auto_scalar_data_open_outward/
eureka/door_inward_rollout_logs/
eureka/door_outward_gpt_rollouts
eureka/door_inward_rollouts/
eureka/door_outward_rollouts/
eureka/rollouts_iter1/
eureka/rollouts_iter2/
eureka/rollouts_iter3/
eureka/policy-*/
eureka/nn/
eureka/old_auto_preference_data/
eureka/oracle_approx_checkpoints/
eureka/comparison_videos/
eureka/comparison_videos_pair01/
eureka/door_inward_videos/
eureka/door_inward_videos_cliped/
eureka/test_videos_10/
eureka/auto_preference_data.zip